# 주식리스트

1. pykrx 활용으로 그날의 거래되는 주식의 티커를 조회할 수 있음

In [6]:
import pandas as pd
from pykrx import stock

tickers_kospi = stock.get_market_ticker_list("20231203",market= 'KOSPI')
tickers_kosdaq = stock.get_market_ticker_list("20231203",market= 'KOSDAQ')

print(len(tickers_kospi),len(tickers_kosdaq))

952 1701

2. KRX에서 바로 다운로드를 받는 방법도 있음
- 주가 업데이트를 위해서는 이 방법도 나쁘지 않아보임
- 하지만 pykrx로 데이터를 받을 수 있는 시점에서 굳이 싶은 선택지

In [31]:
from io import BytesIO

def crawling_krx_data(tradingdate):
    # otp 요청 
    gen_otp_url = 'http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd'
    otp_data = {
        'locale': 'ko_KR',
        'mktId': 'ALL',
        'trdDd': tradingdate.replace('-',''),
        'share': '1',
        'money': '1',
        'csvxls_isNo': 'false',
        'name': 'fileDown',
        'url': 'dbms/MDC/STAT/standard/MDCSTAT01501'
    }
    headers = {
        'Referer': 'http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201020101',
        'Upgrade-Insecure-Requests': '1',
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36'
    }
    otp = requests.get(gen_otp_url, params = otp_data, headers=headers)
    
    # 요청받은 otp로 데이터 데이터 요청
    download_url = 'http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd'
    download_data = {'code': otp.text}
    r = requests.get(download_url, params = download_data, headers=headers)

    df = pd.read_csv(BytesIO(r.content),encoding='euc-kr')
    df['date'] = tradingdate
    df.set_index('date',inplace=True)    
    return df

In [32]:
crawling_krx_data('2023-12-01')

,종목코드,종목명,시장구분,소속부,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
date,,,,,,,,,,,,,,
2023-12-01,060310,3S,KOSDAQ,중견기업부,2295,15,0.66,2270,2310,2260,120193,274145660,111391593390,48536642
2023-12-01,095570,AJ네트웍스,KOSPI,NaN,4505,185,4.28,4350,4530,4305,370243,1654213940,203863679295,45252759
2023-12-01,006840,AK홀딩스,KOSPI,NaN,17740,-60,-0.34,17800,17970,17400,4225,74447290,235011732140,13247561
2023-12-01,054620,APS,KOSDAQ,중견기업부,6090,-330,-5.14,6540,6540,6030,105187,647701980,124200805890,20394221
2023-12-01,265520,AP시스템,KOSDAQ,우량기업부,21150,0,0.00,21300,21300,20800,65927,1391552000,323202054150,15281421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-01,000540,흥국화재,KOSPI,NaN,3040,55,1.84,3005,3180,2975,261882,803593015,195297640800,64242645
2023-12-01,000545,흥국화재우,KOSPI,NaN,8900,2050,29.93,6560,8900,6560,220544,1872440520,6835200000,768000
2023-12-01,003280,흥아해운,KOSPI,NaN,2260,50,2.26,2230,2425,2190,22826554,52954505340,543360271740,240424899
2023-12-01,037440,희림,KOSDAQ,우량기업부,8210,20,0.24,8150,8500,8150,803933,6699119870,114303519750,13922475
2023-12-01,238490,힘스,KOSDAQ,벤처기업부,6410,80,1.26,6330,6490,6290,31437,201478280,72511432760,11312236

# 티커 베이스로 데이터 스크래핑
- historical data 업데이트 중 100 페이지 이후부터는 get request 가 불가능
- 네트워크 확인결과 referer 부분에서 유의한 차이를 보였고 이를 header에서 설정해주니 가능해짐

In [439]:
import requests
from bs4 import BeautifulSoup
import re

# URL of the Naver Finance page you want to scrape
code = '033230'
page = 1
url = f'https://finance.naver.com/item/board.naver?code={code}&page={page}'
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Safari/605.1.15',
    'Referer':f'https://finance.naver.com/item/board.naver?code={code}&page={page}'
}

In [440]:
response = requests.get(url,headers=headers)
soup = BeautifulSoup(response.text, 'lxml')
tbody = soup.find('tbody')

In [441]:
final_page = soup.find('td',attrs = {'class':'pgRR'}).find('a',href = True)['href']
final_page = re.findall(r'\d+$', final_page)[0]

In [442]:
final_page

'1069'

In [460]:
dates_views = tbody.find_all('span',attrs = {'class':"tah p10 gray03"})
dates = [dates_views[x].text for x in range(0, len(dates_views), 2)]
date_objects = pd.to_datetime(dates, format='%Y.%m.%d %H:%M', errors='coerce')
formatted_dates = date_objects.strftime('%Y-%m-%d')

In [461]:
formatted_dates

Index(['2023-12-08', '2023-12-08', '2023-12-07', '2023-12-07', '2023-12-07',
       '2023-12-07', '2023-12-07', '2023-12-07', '2023-12-07', '2023-12-07',
       '2023-12-07', '2023-12-07', '2023-12-07', '2023-12-07', '2023-12-07',
       '2023-12-07', '2023-12-07', '2023-12-07', '2023-12-07', '2023-12-07'],
      dtype='object')

In [447]:
views = [dates_views[x].text.strip() for x in list(range(1,len(dates_views),2))]
views

['10',
 '111',
 '77',
 '74',
 '89',
 '102',
 '62',
 '168',
 '96',
 '251',
 '107',
 '81',
 '120',
 '190',
 '136',
 '35',
 '97',
 '86',
 '316',
 '283']

In [462]:
link_titles = tbody.find_all('a',href = True)
links = ["https://finance.naver.com"+link['href'] for link in link_titles]
links

['https://finance.naver.com/item/board_read.naver?code=033230&nid=267318343&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267317498&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267316625&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267316596&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267316275&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267316150&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267315936&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267315839&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267315691&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267315656&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267315509&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267315141&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267315032&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267315023&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267314979&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267315510&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267314920&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267314674&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267313900&st=&sw=&page=1',
 'https://finance.naver.com/item/board_read.naver?code=033230&nid=267312468&st=&sw=&page=1']

In [463]:
titles = [title['title'] for title in link_titles]
titles

['팩트체크입니다 선확인 후대응!!',
 '3거래일 단일가매매 재료는 80조',
 '여기 안티가 어딨어 ?',
 '이 색ㅎ들',
 '바보들인가',
 '내일 시초가 빠른판단하시길',
 '여긴 왜~~',
 '80조 대단',
 '돌대가리',
 '시간외 거래량 보니 나쁘지 않다',
 '단일가 예상하고 종가, 시간외 매도하고',
 '이곳은 오늘 손실본 자들의. ',
 '오늘 거래대금이 어마어마',
 '거래량 터진거보고 나가고싶어?',
 '5천넘으면. 우주로 간다',
 '5천넘으면. 우주로 간다',
 '안티글을 존 길게적는것이',
 '전부 안티글들뿐. 싹 다 갈아엎어버렸네오늘',
 '신성델타테크도 8월 단기과열 첫날 ',
 '오늘 물량 다 털어서']

In [364]:
like_dislike = tbody.find_all('strong')
like = [like_dislike[x].text.strip() for x in list(range(0,len(dates_hits),2))]
dislike = [like_dislike[x].text.strip() for x in list(range(1,len(dates_hits),2))]

In [365]:
pd.DataFrame({'date':dates,'titles':titles,'views':views,'like':like,'dislike':dislike,'links':links})

,date,titles,views,like,dislike,links
0,2017-06-07,암튼,221,1,1,https://finance.naver.com/item/board_read.nave...
1,2017-06-07,앞으로 기대됩니다 쭉~~,229,3,0,https://finance.naver.com/item/board_read.nave...
2,2017-06-07,잘묵고간다,244,1,1,https://finance.naver.com/item/board_read.nave...
3,2017-06-07,뭐야??,218,0,1,https://finance.naver.com/item/board_read.nave...
4,2017-06-07,분석,221,1,0,https://finance.naver.com/item/board_read.nave...
5,2017-06-07,대박 상가냐?,240,0,1,https://finance.naver.com/item/board_read.nave...
6,2017-06-07,아~~또 키움개미 순매수,212,1,0,https://finance.naver.com/item/board_read.nave...
7,2017-06-07,오늘도 고수이야기가 시작됩니다,329,0,0,https://finance.naver.com/item/board_read.nave...

In [464]:
import requests
from bs4 import BeautifulSoup
import re

def set_crawling_parameters(stock_code,page):
    url = f'https://finance.naver.com/item/board.naver?code={stock_code}&page={page}'
    headers = {
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0 Safari/605.1.15',
        'Referer':f'https://finance.naver.com/item/board.naver?code={stock_code}&page={page}'
    }
    return url, headers

def find_last_page(url,headers):
    response = requests.get(url,headers=headers)
    soup = BeautifulSoup(response.text, 'lxml')
    last_page_link = soup.find('td',attrs = {'class':'pgRR'}).find('a',href = True)['href']
    last_page = re.findall(r'\d+$', final_page)[0]    
    return last_page

def crawling_page(url,headers):
    response = requests.get(url,headers=headers)
    soup = BeautifulSoup(response.text, 'lxml')
    tbody = soup.find('tbody')
    
    dates_views = tbody.find_all('span',attrs = {'class':"tah p10 gray03"})
    dates = [dates_views[x].text for x in range(0, len(dates_views), 2)]
    date_objects = pd.to_datetime(dates, format='%Y.%m.%d %H:%M', errors='coerce')
    formatted_dates = date_objects.strftime('%Y-%m-%d')
    
    views = [dates_views[x].text.strip() for x in list(range(1,len(dates_views),2))]
    
    link_titles = tbody.find_all('a',href = True)
    links = ["https://finance.naver.com"+link['href'] for link in link_titles]
    titles = [title['title'] for title in link_titles]

    like_dislike = tbody.find_all('strong')
    like = [like_dislike[x].text.strip() for x in list(range(0,len(dates_hits),2))]
    dislike = [like_dislike[x].text.strip() for x in list(range(1,len(dates_hits),2))]
    
    result = pd.DataFrame({'date':formatted_dates,'titles':titles,'views':views,'like':like, 'dislike':dislike,'links':links})
    return result

def set_date_limit(until):
    return until

def

In [289]:
headers = ['date','title','id','view','like','dislike']

In [433]:
data = [[cell.text.strip() for cell in row.find_all(['td', 'th'])] for row in tbody.find_all('tr')[1:]]  # Skip the header row

In [434]:
data

[[''],
 ['2023.12.08 00:17',
  '앞으로꾸준히vi터치해주며상승할듯..^^\n\t\t\t\t[3]',
  'okjo****',
  '27',
  '3',
  '0'],
 ['2023.12.08 00:07', '3거래일 단일가매매 재료는 80조', 'tori****', '54', '0', '1'],
 ['2023.12.07 23:39', '여기 안티가 어딨어 ?', 'indi****', '63', '2', '2'],
 ['2023.12.07 23:38', '이 색ㅎ들', 'gi******', '60', '0', '4'],
 ['2023.12.07 23:28', '바보들인가', 'bigj****', '78', '2', '2'],
 [''],
 ['2023.12.07 23:23', '내일 시초가 빠른판단하시길', 'wodu****', '89', '2', '2'],
 ['2023.12.07 23:16', '여긴 왜~~', 'sayd****', '57', '0', '3'],
 ['2023.12.07 23:12', '80조 대단\n\t\t\t\t[1]', 'ajs9****', '153', '2', '5'],
 ['2023.12.07 23:07', '돌대가리\n\t\t\t\t[1]', 'dnjs****', '89', '3', '2'],
 ['2023.12.07 23:06',
  '시간외 거래량 보니 나쁘지 않다\n\t\t\t\t[2]',
  'tkdu****',
  '220',
  '4',
  '4'],
 [''],
 ['2023.12.07 23:01', '단일가 예상하고 종가, 시간외 매도하고', 'joo5****', '103', '1', '3'],
 ['2023.12.07 22:51', '이곳은 오늘 손실본 자들의.', 'rose****', '80', '1', '4'],
 ['2023.12.07 22:47',
  '오늘 거래대금이 어마어마\n\t\t\t\t[1]',
  'gksr****',
  '109',
  '1',
  '3'],
 ['2023.12.07 22:47',
  '거래량 터진거보고 나가고싶어?\n\t\t\t\t[2]',
  'vv******',
  '173',
  '3',
  '5'],
 ['2023.12.07 22:45',
  '5천넘으면. 우주로 간다\n\t\t\t\t[1]',
  'rose****',
  '123',
  '2',
  '5'],
 [''],
 ['2023.12.07 23:01', '5천넘으면. 우주로 간다', 'kdy9****', '34', '0', '1'],
 ['2023.12.07 22:43',
  '안티글을 존 길게적는것이\n\t\t\t\t[1]',
  'vv******',
  '92',
  '2',
  '4'],
 ['2023.12.07 22:36', '전부 안티글들뿐. 싹 다 갈아엎어버렸네오...', 'rose****', '85', '2', '5'],
 ['2023.12.07 22:14',
  '신성델타테크도 8월 단기과열 첫날\n\t\t\t\t[2]',
  'sshi****',
  '303',
  '4',
  '5'],
 ['2023.12.07 21:36', '오늘 물량 다 털어서', 'oh******', '280', '1', '6'],
 ['']]

In [435]:
df = pd.DataFrame(data, columns=headers)
df = df.dropna()

ValueError: 2 columns passed, passed data had 6 columns

In [436]:
date = pd.to_datetime(df.date).dt.strftime('%Y-%m-%d')

In [437]:
date

1     2023-08-28
2     2023-08-28
3     2023-08-25
4     2023-08-26
5     2023-08-26
7     2023-08-25
8     2023-08-26
9     2023-08-25
10    2023-08-25
11    2023-08-28
13    2023-08-25
14    2023-08-25
15    2023-08-25
16    2023-08-25
17    2023-08-24
19    2023-08-24
20    2023-08-24
21    2023-08-24
22    2023-08-24
23    2023-08-24
Name: date, dtype: object

In [438]:
df

,date,title,id,view,like,dislike
1,2023.08.28 09:47,쫌가자 인성아,1bin****,344,2,1
2,2023.08.28 09:13,오늘 급등예정,qwe0****,176,0,1
3,2023.08.25 22:44,그냥\n\t\t\t\t[1],do04****,1346,8,5
4,2023.08.26 15:31,그냥,do04****,689,5,3
5,2023.08.26 17:59,그냥,do04****,603,3,2
7,2023.08.25 17:00,원격진료 선진국이면 무조건이다,1bin****,1187,5,1
8,2023.08.26 00:41,[삭제된 게시물의 답글]2900원 애개리...,do04****,664,4,0
9,2023.08.25 11:00,부채비율 212% 영업적자~ 왜 이렇게 ...\n\t\t\t\t[1],jhjn****,1176,3,3
10,2023.08.25 10:12,속보))인성정보 초대형 계약공시\n\t\t\t\t[4],suck****,1783,12,6
11,2023.08.28 09:00,속보))인성정보 초대형 계약공시,kimh****,29,0,0
13,2023.08.25 09:57,조졌노ㅋㅋ\n\t\t\t\t[2],john****,871,7,0
14,2023.08.25 09:23,시간은 우리편 ㅎㅎㅎㅎㅎㅎ,go******,288,0,1
15,2023.08.25 08:08,비대면 진료 물건너 갔음.,thun****,705,7,1
16,2023.08.25 08:50,비대면 진료 물건너 갔음.,kimh****,206,2,3
17,2023.08.24 17:24,영원한 관심밖으로.,hund****,747,5,2
19,2023.08.24 17:48,영원한 관심밖으로.,kimh****,334,3,1
20,2023.08.24 17:08,시외,jwya****,750,2,2
21,2023.08.24 15:46,죄악 섹터\n\t\t\t\t[1],hund****,750,2,2
22,2023.08.24 15:44,인성,soob****,428,1,0
23,2023.08.24 15:39,오늘은,sy******,391,3,2